a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* .main {
  max-width: 1600px;
  margin: auto;
  margin-top: 50px;
} */

.title {
  padding-top: 20px;
}
